---
import { getCollection } from 'astro:content'
import Page from '../layouts/Page.astro'
const recipes = await getCollection('recipes')
const title = "Rezepte"
---
<Page title={title}>
    <h1>{title}</h1>
    <ul>
        {
            recipes.map(recipe =>
            <li>
                <a href={"rezepte/" + recipe.slug}>{recipe.data.title}</a>
            </li>)
        }
    </ul>
</Page>