---
import Page from "./Page.astro";
const { title } = Astro.props
---
<Page title={title}>
    <a href="/">zurück</a>
    <h1>{title}</h1>
    <main>
        <slot />
    </main>
</Page>
<style>
    main {
        max-width: 120ch;
    }
</style>